*{
    margin: 0;
    padding: 0;
}
main{
    width: 50%;
    margin: auto;
    height: 2700px;
}
#contenedor{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}
h1{
    padding: 20px;
    font-size: 150%;
    text-align: center;
    margin: 35px auto;
    font-style: italic;
    letter-spacing: 9px;
}
#botones {
    text-align: center;
    margin: 20px;
    font-size: 120%;
    padding: 20px;
}
#botones a{
    padding: 10px;
    text-decoration: none;
    color: tomato;
}
#linea{
    border-bottom: 2px solid rgb(236, 81, 64);
}
#botones a{
    margin-right: 30px;
}
#titulo{
    text-align: center;
    font-size: 500%;
    margin: 2%;
}
#galeria{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
#imagen{
    width: 30%;
    margin: 10px;
    text-align: center;
}
#redes {
    display: flex;
    list-style-type: none;
    justify-content: center;
    list-style-type: none;
}
#redes a:hover{
    opacity: 0.5;
}
.cafe{
    width: 100%;
    box-shadow: 5px 5px 5px black
}
.cafea{
    opacity: 0.7;
}
.cafea:hover{
    opacity: 1.5;
}